body {
  font-family: 'Exo', sans-serif;
  text-align: center;
}

img {
  width: 100px;
  height: 100px;
}

a:hover {
  font-weight: bolder;
  text-decoration: none;
}

.title {
  text-align: center;
  width: 90%;
  height: 90%;
  margin-left: 2%;
  font-size: 36pt;
}

.entry-image {
  width: 150px;
  height: 150px;
}

.glyphicon-triangle-left {
  float: left;
}

.glyphicon-triangle-right {
  float: right;
}

.arrows {
  font-size: 40pt;
  display: block;
}

.home {
  display: block;
  margin-bottom: 30px;
}

.dexball {
  background-color: #ff9b9b;
  border-radius: 25px;
}

.battleball {
  background-color: #a8c0fc;
  border-radius: 25px;
}

.pokeball-dex {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  background-image: url(/dexball.png);
  background-size: 100% 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pokeball-dex:hover {
  opacity: 0.4;
}

.pokeball-battle {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  background-image: url(/battleball.png);
  background-size: 100% 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pokeball-battle:hover {
  opacity: 0.4;
}

.dexball-label {
  font-size: 36pt;
  background-color: #ff9b9b;
  border-radius: 25px;
}

.battleball-label {
  font-size: 36pt;
  background-color: #a8c0fc;
  border-radius: 25px;
}

.footer {
  background-color: lightgrey;
  border-radius: 25px;
  position: fixed;
  bottom: 0px;
  margin-bottom: 3px;
}

.credits {
  margin-top: 10px;
}
