body {
  font-family: 'Exo', sans-serif;
  text-align: center;
}

.name {
  font-weight: bold;
  font-size: 44pt;
}

.pokedex-background {
  background-image: url(/wallpaper.png);
}

.pokepage-background {
  background-image: url(/wallpaper2.png);
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
}

img {
  width: 100px;
  height: 100px;
}

a:hover {
  font-weight: bolder;
  text-decoration: none;
}

.title {
  text-align: center;
  width: 90%;
  height: 90%;
  margin-left: 2%;
  font-size: 36pt;
}

.filters {
  background-color: #ff9b9b;
  border-radius: 15px;
  margin-bottom: 20px;
  padding-bottom: 25px;
}

.container {
  background-color: #dbdbdb;
  border-radius: 25px;
}

select {
  width: 200px;
  height: 200px;
  font-size: 20pt;
}

.glyphicon-triangle-left {
  float: left;
}

.glyphicon-triangle-right {
  float: right;
}

.arrows {
  color: black;
  font-size: 40pt;
  display: block;
}

.move-box {
  margin: 5px;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.home {
  display: block;
  margin-bottom: 30px;
  font-size: 16pt;
}

.dexball {
  background-color: #ff9b9b;
  border-radius: 25px;
}

.battleball {
  background-color: #a8c0fc;
  border-radius: 25px;
}

.pokeball-dex {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  background-image: url(/dexball.png);
  background-size: 100% 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pokeball-dex:hover {
  opacity: 0.4;
}

.pokeball-battle {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  background-image: url(/battleball.png);
  background-size: 100% 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pokeball-battle:hover {
  opacity: 0.4;
}

.dexball-label {
  font-size: 36pt;
  background-color: #ff9b9b;
  border-radius: 25px;
}

.battleball-label {
  font-size: 36pt;
  background-color: #a8c0fc;
  border-radius: 25px;
}

.footer {
  background-color: lightgrey;
  border-radius: 25px;
  position: fixed;
  bottom: 0px;
  margin-bottom: 3px;
}

.credits {
  margin-top: 10px;
}

.battleImg {
  background-image: url(battleImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

.battleImg2 {
  background-image: url(battleImg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

.redeploy {
  font-size: 16pt;
}

.battleMove {
  display: block;
  font-size: 18pt;
  width: 100%;
}

#player1Change {
  font-size: 16pt;
  text-align: center;
}

#player2Change {
  font-size: 16pt;
  text-align: center;
}

.toprow {
  min-height: 175px;
}

.battlefield {
  background-image: url(/battlefield.jpg);
  border-radius: 15px;
  background-size: cover;
  background-repeat: no-repeat;
}

.col-md-3 {
  margin-top: 40px;
}

.formstyles {
  text-align: center;
}

.top-center input {
  width: 300px;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 18pt;
  text-align: center;
}

.top-center button {
  width: 300px;
  font-size: 14pt;
}

.submitSearch {
  font-size: 20pt;
  border-radius: 10px;
  padding-top: 20px;
  margin-top: 10px;
  width: 200px;
}

#nameSearch {
  background-color: #4682B4;
  border: #4682B4;
}

#idealSearch {
  background-color: #483D8B;
  border: #483D8B;
}

.pokebox {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 10px;
  font-size: 16pt;
  padding-top: 5px;
  padding-bottom: 5px;
  border: solid black 3px;
}

.link {
  color: black;
}

.pokebox:hover {
  background-color: grey;
  color: white;
  border: solid gray 3px;
}

/*Pokepage.vtl starts*/
.poke-description {
  font-size: 20pt;
  margin-top: 30px;
}

.poke-attacks {
  font-size: 20pt;
}

.entry-image {
  width: 150px;
  height: 150px;
  margin-top: 80px;
}

.poke-img {
  min-height: 300px;
  border-radius: 25px;
  background-color: grey;
}

.poke-stats {
  min-height: 300px;
  border-radius: 25px;
  background-color: grey;
  padding-top: 10px;
}

.poke-stats h3 {
  font-size: 32pt;
  color: white;
}

.Grass {
  background-image: url(Grass.jpg);
  background-size: 100% 100%;
}

.Fire {
  background-image: url(Fire.jpg);
  background-size: 100% 100%;
}

.Water {
  background-image: url(Water.jpg);
  background-size: 100% 100%;
}

.Electric {
  background-image: url(Electric.jpg);
  background-size: 100% 100%;
}

.Poison {
  background-image: url(Poison.jpg);
  background-size: 100% 100%;
}

.Bug {
  background-image: url(Bug.jpg);
  background-size: 100% 100%;
}

.Psychic {
  background-image: url(Psychic.jpg);
  background-size: 100% 100%;
}

.Rock {
  background-image: url(Rock.jpg);
  background-size: 100% 100%;
}

.Ground {
  background-image: url(Ground.jpg);
  background-size: 100% 100%;
}

.Fighting {
  background-image: url(Fighting.jpg);
  background-size: 100% 100%;
}

.Normal {
  background-image: url(Normal.jpg);
  background-size: 100% 100%;
}

.Flying {
  background-image: url(Flying.jpg);
  background-size: 100% 100%;
}

.Ice {
  background-image: url(Ice.jpg);
  background-size: 100% 100%;
}

.Dragon {
  background-image: url(Dragon.jpg);
  background-size: 100% 100%;
}

.Ghost {
  background-image: url(Ghost.jpg);
  background-size: 100% 100%;
}

/*Pokepage.vtl ends*/

.poke-battle-flipped-gif {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.poke-battle-gif {
  padding: 10px 10px 10px 10px;
}

#attacker {
  position: relative;
}

#attacker2 {
  position: relative;
}

#defender {
  position: relative;
  -webkit-animation: mymove 1s;
}
#defender-left {
  position: relative;
  -webkit-animation: mymove-left 1s;
}

#player1Pokemon {
  color: black;
  font-size: 20pt;
}

.choosePokemon {
  font-size: 20pt;
}

@-webkit-keyframes mymove {
   50% {-webkit-transform: rotate(45deg);}
}

@-webkit-keyframes mymove-left {
   50% {-webkit-transform: rotate(-45deg);}
}
