<div class="row title">
  <h1>Pokedex!</h1>
  <h2>Gotta Catch Em All!</h2>
  <h3>(The First 151, That Is)</h3>
</div>

<div class="row pokeballs">
<div class="col-md-6">
<button href="/pokedex" class="btn pokeball" id="viewDex">V</a>
</div>

<div class="col-md-6">
<button href="/battle" class="btn pokeball" id="battle">F</a>
</div>
</div>
