<div class="row title">
  <h1>Pokedex!</h1>
  <h2>Gotta Catch Em All!</h2>
</div>

<div class="row pokeballs">
<div class="col-md-6">
<button href="/pokedex" class="btn pokeball" id="viewDex"></button>
</div>

<div class="col-md-6">
<button href="/battle" class="btn pokeball" id="battle"></button>
</div>
</div>
