<!DOCTYPE html>
<html>
  <head>
    <title>Pokedex</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>

    <div class="container">

      #parse( $template )

    </div>
  </body>
</html>
