MUSIC!!!!!!


<script>
// var myWindow = window.open("https://www.youtube.com/watch?v=2Jmty_NiaXc", "_blank", "toolbar=yes, scrollbars=yes, resizable=yes, width=200, height=100");
// // var musicWindow = window.open("/music");
// myWindow;
// this.window.focus();

var music = new Audio('music/pokemon.mp3')
music.play();
</script>
