$pokemon1.getName() has $pokemon1.getHp() hp left!

$pokemon2.getName() has $pokemon2.getHp() hp left!

$pokemon1.getName() select your move!

<form action="/pokefight/2pturn" method="post">
  <label for="move">Fire Spin!</label>
  <input id="move" name="move" type="hidden" value="Fire Spin">
  <button type="submit" class="btn btn-success">Flame on!</button>
</form>


<br>
<a href="/" class="btn btn-info">Back To Home</a>
<br>
